.main{
    background-color: white;
    background-image: url("images/silverware.jpg");
    color: #404040;
    font-size: 11pt;
    font-family: Georgia, Garamond, serif;
    margin-bottom:30px;

}

.grey-back{
   background-color:#F0F0F0; 
}

.heading-style{
    color:#A4A400;
    font-family: 'Lucida Sans Unicode', Helvetica, Arial, sans-serif;
    text-decoration: underline;
    letter-spacing: 0.25em;
}

.main-heading{
    text-align: center;
    font-size: 22pt;
}

.other-heading{
    text-align: left;
    font-size: 18pt;
}

/* unvisited link */
a:link {
    color: #A4A400;
}


/* visited link */
a:visited {
    color: #A4A400;
}

/* mouse over link */
a:hover {
    color: #A4A400;
    text-decoration: underline;
}

/* selected link */
a:active {
    color: #A4A400;
}


.no-left-space{
    padding-left:0px;
}

.bullet-none{
    list-style-type: none; 
}

.main-list{
    list-style: none;
    list-style-type: none;
    padding-left: 0px;
}

.ingredient-list{
    list-style-type: disc;

}

abbr[title] {
    
    text-decoration: underline !important;
}

.linethrough-word{
    text-decoration: line-through;
}


.quote-block{
    background-color: #FFFFA8;
    font-style: italic;
}

.copy-right-text{
    font-family: monospace;
}